body {
	background-color:#e3ebf7;
	font-family: 'Lato', sans-serif;
}

h1 {
	color: #5d3ff8;
	text-align: center;
	margin-bottom: 20px;
}

.input {
	width: 150px;
	height: 50px;
	border-radius: 2px;
	border: none;
	font-size: 1.5em;
	color: white;
	margin: 30px 15px;
	padding: 8px;
}

#green {
	background-color: #2ecc71;
  	box-shadow: 0px 7px 0px 0px #15B358;
}

#red {
	background-color: #e74c3c;
  box-shadow: 0px 7px 0px 0px #CE3323;
	margin-left: 27px;
}

#blue {
	background-color: #55acee;
	box-shadow: 0px 7px 0px 0px #3C93D5;
	 
}

#yellow {
	background-color: #f1c40f;
  box-shadow: 0px 7px 0px 0px #D8AB00;
	margin-left: 35px;
}

.mass-div {
	width: 50%;
 	margin: 0 auto;
}


.length-div {
	width: 50%;
 	margin: 0 auto;
}

label {
	color: #5d3ff8;
	font-size: 1.15em;
}

input:focus {
	outline: none;
}
